/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-gray: #dbdbdb;
  --color-dark-gray: #7c7c7c;
  --color-black: #000000;
  --color-blue: #00376b;

  /* Size */
  --size-border-radius: 4px;
  --card-padding: 12px;
  --profile-image-big-size: 80px;
  --profile-image-small-size: 40px;
  --contents-width: 614px;

  /*Animation*/
  --animation-duration: 0.7s;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
}

textarea {
  border: none;
  background-color: transparent;
}

input {
  border: none;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.navbar {
  background-color: yellow; /*삭제*/
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 54px;
  border-bottom: 1px solid var(--color-gray);
  width: 100%;
  padding: 0 20%;
}

.navbar__wrap {
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar__wrap__logo {
  width: 100px;
}

.navbar__wrap__search {
  width: 220px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray);
  border-radius: var(--size-border-radius);
}

.navbar__wrap__search p {
  margin-left: 16px;
}

.navbar__wrap__icons {
  display: flex;
  align-items: center;
}

.navbar__wrap__icons i {
  margin-left: 16px;
  font-size: 24px;
}

.main {
  background-color: pink; /*삭제*/
  width: 100%;
  padding: 0 20%;
  display: flex;
}

.contents {
  width: var(--contents-width);
  background-color: greenyellow; /*삭제*/
}

.contents__story__box {
  background-color: aquamarine; /*삭제*/
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.contents__story {
  display: flex;
}

.contents__story__profile {
  width: var(--profile-image-big-size);
  height: var(--profile-image-big-size);
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}

.contents__story__button {
  position: absolute;
  font-size: 28px;
  color: var(--color-white);
  opacity: 50%;
  z-index: 1;
}

.prev {
  left: 4px;
}

.next {
  right: 4px;
}

.contents__feed__card {
  background-color: white;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray);
}

.card__info {
  width: 100%;
  height: 64px;
  display: flex;
  padding: var(--card-padding);
  justify-content: space-between;
}

.card__info__profile {
  display: flex;
}

.profile__img {
  width: var(--profile-image-small-size);
  height: var(--profile-image-small-size);
  border-radius: 50%;
  margin-right: 12px;
}

.profile__name {
  line-height: 40px;
}

.card__info__more-btn {
  line-height: 40px;
}

.card__photo__container {
  overflow: hidden;
}

.card__photo {
  display: flex;
  overflow: hidden;
  transition: var(--animation-duration);
  position: relative;
}

.feed__arrow-btn__box {
  position: absolute;
  width: var(--contents-width);
  display: flex;
  justify-content: space-between;
  bottom: 50%;
  z-index: 1;
}

.feed__arrow-btn__box.right {
  justify-content: right;
}

.feed__arrow-btn__box.left {
  justify-content: left;
}

.feed__arrow-button {
  color: var(--color-white);
  opacity: 50%;
  font-size: 30px;
}

.card__photo img {
  width: 100%;
}

.card__icons {
  width: 100%;
  height: 56px;
  padding: var(--card-padding);
  display: flex;
  justify-content: space-between;
}

.icon__heart,
.icon__comment,
.icon__share,
.icon__bookmark {
  font-size: 32px;
}

.icons__middle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 32px;
}

.icon__dote {
  font-size: 8px;
  line-height: 32px;
}

.card__bottom {
  padding: 0 var(--card-padding);
}
.comment__id {
  font-weight: 600;
}

.bottom__like__id,
.bottom__like__count {
  font-weight: 600;
}

.btn__more {
  color: var(--color-dark-gray);
  cursor: pointer;
}

.bottom__comment {
  padding-top: var(--card-padding);
}

.bottom__comment__tag {
  color: var(--color-blue);
}

.reply__id {
  font-weight: 600;
}

.bottom__write-box {
  width: 100%;
  height: 56px;
  display: flex;
  padding: var(--card-padding) 0;
  justify-content: space-between;
}

.write-box__left {
  display: flex;
  width: 90%;
}

.left__icon {
  padding-top: 2px;
  line-height: 32px;
  font-size: 20px;
  margin-right: 12px;
  width: 5%;
}

.left__input {
  width: 95%;
  resize: none;
  font-size: 20px;
  margin-top: 5px;
}

.write-box__right {
  line-height: 32px;
  font-size: 16px;
}

.info {
  display: none;
  width: 320px;
  height: 500px;
  background-color: bisque; /*삭제*/
  margin-left: 20px;
  position: fixed;
  right: 20%;
  padding: 28px 12px;
}

.info__my-profile {
  display: flex;
  margin-bottom: 28px;
}

.my-profile__img {
  width: var(--profile-image-big-size);
  height: var(--profile-image-big-size);
  border-radius: 50%;
}

.recommend__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.people {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.people__profile {
  display: flex;
}

.people__profile__img {
  width: var(--profile-image-small-size);
  height: var(--profile-image-small-size);
  border-radius: 50%;
}
