/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-gray: #dbdbdb;
  --color-black: #000000;

  /* Size */
  --size-border-radius: 4px;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 54px;
  border-bottom: 1px solid var(--color-gray);
  width: 100vw;
  padding: 0 20%;
}

.navbar__wrap {
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar__wrap__logo {
  width: 100px;
}

.navbar__wrap__search {
  width: 220px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray);
  border-radius: var(--size-border-radius);
}

.navbar__wrap__search p {
  margin-left: 16px;
}

.navbar__wrap__icons {
  display: flex;
  align-items: center;
}

.navbar__wrap__icons i {
  margin-left: 16px;
  font-size: 24px;
}

.main {
  background-color: pink;
  width: 100%;
  padding: 0 20%;
  display: flex;
}

.contents {
  width: 65%;
  background-color: greenyellow;
}

.contents__story {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.contents__story__profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
}

.contents__story__button {
  position: absolute;
  font-size: 28px;
  color: var(--color-white);
}

.prev {
  left: 4px;
}

.next {
  right: 4px;
}
